# Byte-compiled / optimized / DLL files
__pycache__/

./venv/
.git/
.idea/
./other_operations/
./messages/
./excel/
./__backup__/
./logs/
./participants/
delete*.py
*.session-journal
*.session
*.xlsx
./main_start.py
/settings/server/
/settings/local/
#/settings/config*.ini
/_apps/simpleatom/form.sqlite3
/db_backup/
#/_apps/amin_panel_tg_view/settings/
./_apps/individual_tg_bot/config.ini
./_apps/web_form_bot/settings/config.ini
/_apps/web_form_bot/settings/config.ini
/settings/config_keys.ini
/settings/database_settings.py
/_apps/individual_tg_bot/config.ini
/settings/firefox_driver/
/_apps/itcoty_web/config.ini
/Try.py
/_debug.py
/test*.py
/_apps/itcoty_web/api/migrations/
/*.log
/__backup__/
/_apps/coffee_customer_bot_apps/settings/config.ini
/_apps/ask_gpt/gpt_connect/.env
/_apps/ask_gpt/settings/_debug.py
