# Byte-compiled / optimized / DLL files
__pycache__/

./venv/
.git/
.idea/
./other_operations/
./messages/
./excel/
./__backup__/
./logs/
./participants/
delete*.py
*.session-journal
*.session
*.xlsx
#main_start.py
/settings/server/
/settings/local/
#/settings/config*.ini
/_apps/simpleatom/form.sqlite3
/main_start.py
/db_backup/
#/_apps/amin_panel_tg_view/settings/