.env
.local
.venv
.git
.idea

__backup__
__pycache__

venv
excel
logs
messages
participants
db_backup
other_operations

delete*.py
main_start.py

*.backup
*.log
*.save
*.session-journal
*.session
*.se2
*.sqlite3
*.tmp
*.txt
*.xlsx

settings/server/
settings/local/
settings/database_settings.py
settings/config_keys.ini
settings/firefox_driver/

_apps/coffee_customer_bot_apps/settings/config.ini
_apps/simpleatom/form.sqlite3
_apps/individual_tg_bot/config.ini
_apps/itcoty_web/config.ini
_apps/web_form_bot/settings/config.ini

_debug.py
Try.py
test*.py
